@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari, and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
  
  
      /* Hide scrollbar for IE, Edge, and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      .scrollable {
        max-height: 100%;
        overflow-y: scroll;
      }
      
      /* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
      .scrollable::-webkit-scrollbar {
        width: 0.5em;
      }
      
      .scrollable::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
      
      .scrollable::-webkit-scrollbar-track {
        background-color: transparent;
      }

      
    }
    
    @media (max-width: 1024px) {
      .hidden-lg-at-1024 {
        display: none !important;
      }
    }

    @media (max-width: 500px) {
      .custom-sm{
        width: 22rem;
        height: 8rem;
        margin-left: 5px;
      }
    }
  }